<h1>EmberJs Works With Spring Boot</h1>

<p>This application mainly focus on how to connect Spring with Ember!</p>
<p>Spring on backend and EmberJs on the frontend. You are able to show all user in the list, add, edit, and delete user.</p>
<p>Ember - Create UI for showing all user, add , edit, update, and delete user.</p>
<p>Spring - Create backend RESTful Web Services for GET, POST, PATCH, DELETE operations.</p>

<br>

<div class="body">
    {{outlet}}
</div>
