<h3>List Of Available Users:</h3>

<div class="group-show-users">
  {{#each model as |user|}}
    <li>
      {{#link-to "user.show" user.id}}
        {{user.fullName}}
      {{/link-to}}
    </li>
  {{/each}}
</div>

<br>

<div class="group-show-users-btn">
  <button {{action 'goToCreateUserPage' }}class="to-create-user-btn" type="submit">Create User</button>
</div>
